/* ! IMPLEMENTADO CON BOOTSTRAP */

body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#btnHowToPlay:hover {
    cursor: pointer;
}

.socialMediaLogos{
    height: 40px;
}