/* ! IMPLEMENTADO CON BOOTSTRAP */

.background-image {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 500px; */
    height: 100vh;
}

#btnHowToPlay:hover {
    cursor:pointer;
}