*{
    background-color:azure;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
}

/****************************************/
/*************** HEADER *****************/
/****************************************/

header{
    font-size: 2em;
    padding: 10px;
}

.menu__h1{
    text-align: center;
}

a, .menuList__li__button{
    text-decoration: none;
    color:darkmagenta;
    font-size: 1em;
    border: none;
    padding: 6px 4px;
}

.menuList__li{
    width: 90%;
    text-align: right;
    list-style-type: none;
}

/*********************************************/
/**************** MENU PLAY ******************/
/*********************************************/

#outputMovie{
    font-size: 1.25em;
    text-align: center;
    border: 1px dashed black;
    padding: 14px;
    margin : 0px 5px;
}

/*********************************************/
/**************** MENU LIST ******************/
/*********************************************/

.configMovies{
    text-align: center;
    display: none;
    margin: 10px;
}

/****************************************/
/************* MOVIE LIST ***************/
/****************************************/

.movieList{
    font-size: 1.2em;
}

/***************************************/
/******* DELETE MOVIE PARAMETERS *******/
/***************************************/

#deleteParam{
    display: none;
}

.deleteParam__input{
    font-size: 1em;
    font-weight: bold;
    color:black;
    text-align: center;
}

#confirmDelete{
    color:red;
    padding: 7px 10px;
}

#deleteIndex{
    width: 15%;
    padding: 7px 10px;
}

#deleteIndex::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.deleteParam__h3{
    margin: 30px auto 5px auto;
}