*{
    background-color:azure;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/****************************************/
/*************** HEADER *****************/
/****************************************/

header{
    font-size: 2em;
    padding: 10px;
}

.menu__h1{
    text-align: center;
}

/*a{
    text-decoration: none;
    border: px solid black;
    padding: 6px 4px;
}

.menu__list{
    width: 90%;
    text-align: right;
    list-style-type: none;
}*/

/****************************************/
/**************** MENU ******************/
/****************************************/

.configMovies{
    text-align: center;
    margin: 10px;
}

button{
    font-size: 1.5em;
    padding: 10px;
}

/****************************************/
/************* MOVIE LIST ***************/
/****************************************/

.movieList{
    font-size: 1.2em;
}

/***************************************/
/******* DELETE MOVIE PARAMETERS *******/
/***************************************/

#deleteParam{
    display: none;
}

.deleteParam__input{
    font-size: 1em;
    font-weight: bold;
    color:black;
    text-align: center;
}

#confirmDelete{
    color:red;
    padding: 7px 10px;
}

#deleteIndex{
    width: 15%;
    padding: 7px 10px;
}

#deleteIndex::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.deleteParam__h3{
    margin: 30px auto 5px auto;
}